.dub
docs.json
__dummy.html
*.o
*.obj
__test__*__
DGraph
mpitest
.#*
*.a
mpieztest
graphtest
*.dot
*#
*.lib
*~./sample/spawn/spawn
./sample/graphAssign/gassign
./sample/piAssign/pi
./sample/Lambda/.dub/build/application-debug-linux.posix-x86_64-dmd_2074-280161DE4C8B7131FDCD9D85563F2BB2/gassign
./sample/Lambda/gassign
./sample/mpiTest/mpitest
./sample/mpiTest/.dub/build/application-debug-linux.posix-x86_64-dmd_2073-CC5AC010C8ACDD5D5C0D768B0B16303A/mpitest
./sample/mpiTest/.dub/build/application-debug-linux.posix-x86_64-dmd_2073-C1FF634048E25271D7A37DE79F00481C/mpitest
./sample/mpiTest/.dub/build/application-debug-linux.posix-x86_64-dmd_2073-FFEC4FEEBD04C36FAD3DAE1F9EA7F39D/mpitest
./sample/cpuTest/cputest
./sample/cpuTest/.dub/build/application-debug-linux.posix-x86_64-dmd_2073-60D22F08B85FBE3389A716C895C4B335/cputest
./sample/graphOpenCL/graphopencl
./sample/graphOpenCL/.dub/build/application-debug-linux.posix-x86_64-dmd_2074-2A9C13FF6BE1FC8DAB5391B72182FC4D/graphopencl
./sample/graphTest/graphtest
./sample/mpiezTest/spawn/spawn
./sample/mpiezTest/ping_pong/ping_pong
./sample/mpiezTest/.dub/build/application-debug-linux.posix-x86_64-dmd_2073-07D9D8D984D284E2895E112C311A7A78/mpieztest
./sample/mpiezTest/graph/mpieztest
./sample/mpiezTest/power/power
./sample/mpiezTest/msg/msg
./sample/mpiezTest/reduce/reduce
./opencl-d/sample/vecadd/vecadd
./opencl-d/sample/vecadd/.dub/build/application-debug-linux.posix-x86_64-dmd_2074-6969F5851D2A7CBDE8B248B511898A57/vecadd
./opencl-d/.git/hooks/commit-msg.sample
./opencl-d/.git/hooks/pre-rebase.sample
./opencl-d/.git/hooks/pre-push.sample
./opencl-d/.git/hooks/pre-applypatch.sample
./opencl-d/.git/hooks/update.sample
./opencl-d/.git/hooks/applypatch-msg.sample
./opencl-d/.git/hooks/pre-commit.sample
./opencl-d/.git/hooks/post-update.sample
./opencl-d/.git/hooks/prepare-commit-msg.sample
./configure.sh
./dsl/test/test
./dsl/test/.dub/build/application-debug-linux.posix-x86_64-dmd_2074-160FD4CB16C53DAE34E48E943825E69D/test
./dsl/test/.dub/build/application-debug-linux.posix-x86_64-dmd_2074-FB3A620890012DA8DF6F142DD23AAA59/soluce
./dsl/.dub/build/application-debug-linux.posix-x86_64-dmd_2074-02E0EAF9EFEF1E5939ED1D0375B2FC6B/dsl
./dsl/dsl
./findPort.sh
./libs/install.sh
./.git/hooks/commit-msg.sample
./.git/hooks/pre-rebase.sample
./.git/hooks/pre-push.sample
./.git/hooks/pre-applypatch.sample
./.git/hooks/update.sample
./.git/hooks/applypatch-msg.sample
./.git/hooks/pre-commit.sample
./.git/hooks/post-update.sample
./.git/hooks/prepare-commit-msg.sample
